@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700i|Playfair+Display:400,900,900i,700i,700");
* {
  margin: 0;
  padding: 0;
}

body{
  /*width: 1000px;*/
  margin: 0 auto;
}

.content {
  margin: auto;
  /*margin-top: -20px;*/
}

.content img{
  width: 100%;
  height: auto;
  margin-top: 10px;
}



/* START BODY ARTIKEL CSS */


@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700i|Playfair+Display:400,900,900i,700i,700");
* {
  margin: 0;
  padding: 0; }

.content {
  margin: auto; }

.body .image {
  margin: 0 auto;
  max-width: 1000px;
  max-height: 200px;
  width: 1000px;
  display: block;
  height: 300px;
}

.body .image img {
  width: 100%;
  height: 100%;
}

.body .content small {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px !important;
  font-size: 12px; }

.body .content small::before {
  content: "___ ";
  color: darkgrey;
  font-weight: bold; }

.body .content {
  max-width: 750px;
  background-color: #D8D5FC; }

.body .content p {
  margin-left: 9.5%;
  margin-right: 7.5%;
  margin-top: 4px;
  margin-bottom: 15px;
  font-family: "Lora", serif;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: .5px; }

.body .content .intro {
  font-family: "Lora", serif;
  font-size: 16px;
  font-style: italic;
  line-height: 27px;
  letter-spacing: .5px;
  margin-bottom: 30px;
  margin-top: 20px; }

.body .content h1 {
  padding-top: 20px;
  margin-right: 25%;
  margin-bottom: 7px;
  font-family: "Playfair Display black", serif;
  font-size: 40px; }

.body .m-left h1, .body .m-left h2, .body .m-left h3, .body .m-left h4, .body .m-left h5, .body .m-left h6 {
  margin-left: 5%; }

.body .content h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-style: italic;
  font-family: "Lora", serif;
  font-size: 22px; }

.body .content q {
  font-family: "Playfair Display", serif;
  font-size: 25px;
  font-style: italic;
  margin: 8px;
  max-width: 250px;
  word-wrap: break-word;
  padding-right: 12.5%; }

q {
  float: right;
  -webkit-shape-outside: box();
  shape-outside: box(); }

q span {
  display: inline-block; }

p.bio {
  margin-left: 5% !important;
  margin-right: 5% !important;
  margin-top: 35px !important;
  font-style: italic !important;
  line-height: 20px !important; }

.foot h1, .foot h2, .foot h3, .foot h4, .foot h5, .foot h6, .foot p, .foot ul {
  margin-left: 5% !important;
  margin-right: 5% !important; }

.foot ul {
  margin-top: 20px; }

.foot ul li:not(:first-child) {
  list-style: none;
  display: inline-block;
  width: 31%;
  margin-left: 2.5%;
  height: 199px;
  overflow: hidden; }

.foot ul li {
  list-style: none;
  display: inline-block;
  width: 31%;
  height: 199px;
  overflow: hidden; }

.foot ul li h2 {
  font-size: 22px !important;
  margin-left: 0 !important; }

.foot {
  padding-bottom: 40px; }

.icons img {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin-left: 5%; }

.icons {
  margin-top: 10px;
  margin-bottom: 20px; }

@media only screen and (max-device-width: 1000px) {
  .body {
    max-width: 100% !important;
    width: 100% !important;
    padding: 0 !important; }
  .body .content {
    max-width: 100% !important;
    width: 100% !important; }
  .body .content > h1 {
    font-size: 280% !important;
    line-height: 110% !important; }
  .body .content > h2, h3, h4, h5, h6, p, q {
    font-size: 200% !important;
    line-height: 110% !important; }
  .body .content > p.bio {
    line-height: 105% !important; }
  .body .content ul li p.bio {
    font-size: 100% !important; }
  .body .content p {
  	margin-right: 10%;
  	margin-left: 8.5%;
  }
}



/*END BODY ARTIKEL CSS*/



.footer {
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  background-color: #eeeeee;
  height: 275px;
  text-transform: uppercase;
  font-family: sans-serif;
  padding: 40px;
  clear:  both;
}

.footer a{
  color: black;
  text-decoration: none;
}

.footer img {
  width: 50px;
}

.footer h2 {
  font-weight: lighter;
  font-size: 1.2em;
}

.footer .links h2 {
  margin-bottom: 5px;
}

.footer p {
  font-weight: lighter;
  font-size: 0.8em;
  text-transform: none;
}

.footer input {
  width: 250px;
  height: 40px;
  margin-top: 25px;
}

.footer button {
  width: 175px;
  height: 40px;
  margin-top: 25px;
  background-color: white;
  border: 2px solid #D8D5FC;
}

.footer button:hover {
  border: 2px solid #C7C3FC;
  background-color: #C7C3FC;
  -webkit-transition: 1s;
  transition: 1s;
}

.sections {
  width: calc(100% / 3);
  float: left;
  text-align: center;
}

.links, .midden {
  padding-left: 50px;
  text-align: left;
}

.rechts {
  text-align: left;
}

footer .midden li {
  list-style: none;
  margin-bottom: 15px;
}

footer .midden li a {
  font-weight: lighter;
  font-size: 1.2em;
  color: black;
  text-decoration: none;
}

.navigatie {
  max-width: 1000px;
  margin: 0 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}

.navigatie ul li {
  list-style-type: none;
  display: inline-block;
}

.float-right {
  float: right;
  margin-top: -25px;
}

.navigatie ul li a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  height: 20px;
  padding-left: 30px;
  font-family: sans-serif;
  text-transform: uppercase;
  z-index: 1;
}

.navimage {
  width: 400px;
  padding-top: 50px;
}

.active {
  border-bottom: 2px solid grey;
  margin-top: 5%;
}

.tekstonderlogo {
  font-size: 15px;
  padding-left: 185px;
  margin-top: -10px;
  z-index: -1;
  width: 200px;
}

.body .content li {
  margin-left: 9.5%;
  margin-right: 7.5%;
  margin-top: 4px;
  font-family: "Lora", serif;
  line-height: 28px;
}


.body .content .colofonimage {
  width: auto;
  margin-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.container {
  max-width: 1000px;
  margin: 0 25px;
  margin-left: auto;
  margin-right: auto;
}

.topartikel {
  width: 50%;
  float: left;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
  font-family: 'Lora';
}

.topartikel h1 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 2.5em;
  color: black;
}

.topartikel h3 {
  font-family: "Lora", serif;
  font-style: italic;
  color: black;
}

.topartikel p {
  font-size: .9em;
  width: 420px;
  color: black;
}

.topartikel img {
  width: 400px;
  height: 250px;
}

.artikelen {
  padding-top: 25px;
  padding-bottom: 25px;
}

.grid{
  padding-bottom: 25px;
  display: block;
}
.grid-sizer{
}
.grid-sizer, .grid-item {
  width: 33.33%;
  padding-bottom: 25px;
}

.grid-item img {
  display: block;
  width: 275px;
  height: 150px;
  padding-top: 5px;
}

.grid-item h2{
  letter-spacing: .3px;
font-family: "Lora", serif;
font-style: italic;}

.topartikel p{
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  color: black;
}

hr {
  background-color: transparent;
  border-top: 7.5px dotted black;
  border-bottom: white;}

.grid-item p {
  letter-spacing: .3px;
  max-width: 275px;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical
}

.grid-item a{
  color: black;
  text-decoration: none;
}

.jaargangs{
  display: block;
}

.jaargang {
  width: calc(100% / 3);
  float: left;
  display: block;
  margin-bottom: 50px;}

.artikelen h1 {
  font-family: "Playfair Display", serif;
  font-weight: 900; }

.jaargang img {
  width: 300px;
  height: 250px; }

.jaargang h3 {
  font-family: "Lora", serif;
  font-style: italic;
  padding-bottom: 5px; }

.jaargang p {
  padding-bottom: 5px; }

.jaargang a {
  text-decoration: none;
  color: black;
  font-family: sans-serif; }

  hr {
    clear: both;}
/*START ARCHIEF CSS*/


@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700i|Playfair+Display:400,900,900i,700i,700");
* {
  margin: 0;
  padding: 0; }

.content {
  margin: auto; }

.archief .image {
  background-color: darkgrey;
  margin: auto;
  min-width: calc(1000px / 1.25);
  min-height: calc(300px / 1.25);
  max-width: 1000px;
  max-height: 300px;
  display: block; }

.archief .content h1 {
  margin-bottom: 40px;
  padding-top: 10px;
  margin-left: 30px; }

h1 {
  font-family: headerFont; }

h2, h3, h4, h5, h6 {
  font-family: "Lora", serif;
  font-style: italic; }

.archief .content {
  max-width: 750px;
  background-color: #D8D5FC; }

.archief .content .archief_list .archief_list_item {
  list-style: none;
  display: inline-block;
  width: calc(680px / 2.1);
  height: calc(600px / 2.1);
  margin-left: 4%;
  margin-right: 3%;
  margin-bottom: 60px; }

.archief .content .archief_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.archief .content .archief_list:nth-last-child(odd) {
  display: block; }

.archief .content .archief_list .archief_list_item:nth-child(odd) {
  margin-right: 20px; }

.archief .content .archief_list .archief_list_item:nth-child(even) {
  margin-left: 20px; }

.archief .content .archief_list .archief_list_item .block {
  background-color: transparent;
  margin-top: 15px;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.archief .content .archief_list .archief_list_item .block img {
  width: 100%;
  height: 100%; }

.archief .content .archief_list .archief_list_item .overlay {
  position: relative;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: -286px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.5); }

.archief .content .archief_list .archief_list_item .overlay button {
  position: relative;
  top: 42.5%;
  left: 25%; }

.archief .content .archief_list .archief_list_item .overlay button {
  padding: 10px;
  width: 50%; }

.archief .content .archief_list .archief_list_item .block:hover > .overlay {
  opacity: 1; }

@media only screen and (max-device-width: 1000px) {
  .archief {
    display: block;
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important; }
  .archief .content {
    background-color: transparent;
    text-align: center;
    display: block; }
  .archief .content h1, .archief .content h2, .archief .content h3, .archief .content h4, .archief .content h5, .archief .content h6, .archief .content p {
    text-align: left; }
  .archief .content p {
    font-size: 20px; }
  .archief .content {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0;
    padding: 0;
    padding-right: 30px !important; }
  .archief {
    max-width: 100% !important;
    width: 100% !important;
    margin: 0;
    padding: 0; }
  .image {
    max-width: 100% !important;
    width: 100% !important; }
  .archief .content .archief_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .archief .content {
    width: 100%;
    height: 100%; }
  .archief .content .archief_list {
    text-align: center;
    width: 100%;
    height: 100%; }
  .archief .content .archief_list .archief_list_item {
    max-height: 1%;
    width: 80%;
    height: 80%; }
  .archief .content .archief_list .archief_list_item .block {
    background-color: transparent;
    margin-top: 15px;
    margin: 15px;
    margin-left: 5%;
    width: 90%;
    height: 90%; }
  .archief .content .archief_list .archief_list_item .block img {
    width: 100%;
    height: 100%; }
  .archief .content .archief_list .archief_list_item .overlay {
    text-align: left;
    position: relative;
    opacity: 0;
    width: 100%;
    height: 50%;
    padding-top: 50%;
    padding-bottom: 50%;/*
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);*/
    top: -30px;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5); }
  .archief .content .archief_list .archief_list_item h3 {
    margin-left: 5%; }
  .archief .content .archief_list .archief_list_item p {
    margin-left: 5%; }
  .archief .content .archief_list .archief_list_item .overlay button {
    position: relative;
    margin-left: 0%; }
  .archief .content .archief_list .archief_list_item .overlay button {
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px; }
  .archief .content .archief_list .archief_list_item .block:hover > .overlay {
    opacity: 1; } }

@media only screen and (max-width: 993px) and (min-width: 760px) {
  .archief {
    text-align: center; }
  .archief .content h1, .archief .content h2, .archief .content h3, .archief .content h4, .archief .content h5, .archief .content h6, .archief .content p {
    text-align: left; }
  .archief .content p {
    font-size: 20px; }
  .archief .content .archief_list .archief_list_item .overlay button {
    left: -2%; } }



/*END ARCHIEF CSS*/

.pods-pagination-advanced span, .pods-pagination-advanced a{
  color: black!important;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0; }

select {
  color: grey;
  padding: 5px;
  padding-right: 100px;
  width: auto;
  font-size: 16px;
  line-height: 1;
  border: 1px solid lightgrey;
  outline: none;
  height: 34px;
  background: url(../img/filter.png) 85% center no-repeat, url(../img/arrowDown.png) 96% center no-repeat;
  -webkit-appearance: none;
  background-size: 22px 22px; }

.select .option {
  color: grey;
  text-shadow: none;
  outline: 1px solid lightgrey;
  background-color: white;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  outline: none; }

.option:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #D8D5FC;
  color: red; }

.select .option:focus {
  outline: 0; }

.select:focus {
  outline: 0; }

.select .option:checked {
  display: none; }

  .artikel small{
    font-size: 1.2em!important;
  }
